aside{
    flex: 30%;
    background-color: rgb(11, 66, 68);
    padding: 20px;
    color: white;
    min-height: 100vh; /* ocupa toda la altura */
}
aside h2, aside h3{
    
    background-color: rgb(20, 135, 139);
}
.video-link img {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    object-fit: cover;
}
.video-link h4 {
    opacity: 0;
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 10px;
    transition: all 0.3s;
}
.video-link:hover h4 {
    opacity: 1;
}
