.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}

.card{
    background-color: rgb(117, 34, 34);
    border-radius: 10px;
    width: calc(50% - 10px);
    padding: 10px;
    text-align: center;
    flex: 1 1 23%;
}

.card img{
    width: 100%;
    border-radius: 10px;
}
#more-post{
    display: block;
    color: white;
    margin-top: 40px;
    text-align: center;
}