header{
    padding: 60px;
    text-align: center;
    background-image: url(../img/KPop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    font-size: 40px;
    margin: 0 0 20px;
}
header p{
    font-size: 40px;
    margin: 0 0 20px;
}
header div{
    background-color: rgb(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;

}